<div class="flex flex-col justify-center place-content-center h-screen">
  <div class="flex flex-1 items-center flex-col mt-16">
    <div>
      <span class="text-2xl font-bold">Simple URL Shortener</span>
      <div class="mt-10 flex place-content-start items-start">
        <input type="text" class="border rounded-lg p-2" [(ngModel)]="longUrl">
        <button (click)="shortenUrl()" class="border rounded-lg py-2 px-4 active:bg-slate-400 hover:bg-slate-100 ms-3 shadow-sm font-bold">Shorten</button>
      </div>
      <span class="mt-3 text-red-600 text-xs" *ngIf="error">{{ error }}</span>
    </div>
    <div class="w-screen mt-10 px-10" *ngIf="fetchAllUrlsForAccount() | async as urlList">
      <span class="text-2xl font-bold">Your Shortlinks:</span>
      <div class="shadow-sm border rounded-md flex p-6 mt-3" *ngFor="let url of urlList">
        <div class="flex-1 flex flex-col overflow-hidden">
          <span class="text-lg font-bold" role="button" (click)="copyLink(url, copyLinkButton)">{{ getShortLink(url) }}</span>
          <span class="truncate opacity-50 text-sm">{{ url.longUrl }}</span>
        </div>
        <div class="ps-10">
          <button class="border rounded-lg py-2 px-4 active:bg-slate-400 hover:bg-slate-100 ms-3 shadow-sm font-bold" (click)="copyLink(url, copyLinkButton)" #copyLinkButton>Copy Link</button>
        </div>
      </div>
    </div>
  </div>
</div>